* {
margin: 0px;
padding: 0px;
}

body {
background: rgba(214,214,214,0.35) none;
color: #323232;
font-size: 11px;
font-family: helvetica, sans-serif;
}

a {
text-decoration: none;
color: #93B300;
}

a:hover {
text-decoration: none;
color: #50514D;
}

#main {
position: relative;
padding-top: 40px;
margin-left: 40px;
padding-bottom: 40px;
}

#menu ul {
list-style: none;
margin: 0px;
padding-top: 10px;
}

#menu li {
background: none;
padding: 0px;
font-weight: bold;
}

#menu a {
display: block;
position: relative;
height: 27px;
margin-bottom: 1px;
text-decoration: none;
background: inherit;
padding-left: 20px;
padding-top: 10px;
color: #636363;
font-size: 16px;
}

#menu a:hover {
background: inherit;
color: #222;
border: dotted 1px #50514D;
}

h1 {
background: inherit;
color: #50514D;
height: 50px;
}

h1 span {
background: inherit;
color: #85AC1E;
}

h3 {
margin-top: 10px;
background: inherit;
color: #50514D;
font-size: 19px;
height: 34px;
}

h3 span {
background: inherit;
color: #85AC1E;
}

input.vorgang {
width: 250px;
}

input.soli {
width: 50px;
}

input {
width: auto;
padding: 3px 3px 3px 3px;
margin: 3px 10px 3px 0px;
}

#content {
position: relative;
font-size: 12px;
margin-left: 20px;
padding: 3px 3px 3px 3px;
width: 95%;
}

#rcol {
border: 2px #d6d6d6 solid;
background-color: #fff;
padding-top: 10px;
position: relative;
margin-left: 0px;
}

#logo {
font-size: 18px;
padding: 15px 5px 15px 25px;
}

#logo img {
float: left;
width: 75px;
height: 75px;
padding-right:10px;
}

#logo h1 {
position: relative;
}

#topmenu {
font-size: 16px;
position: relative;
padding: 0px 5px 5px 21px;
}

.output, .form {
background-color: #fff;
border: 1px #d6d6d6 solid;
padding: 1px 10px 10px 10px;
margin: 5px 0px 5px 0px;
}

#lcol p {
font-size: 10px;
line-height: 16px;
margin: 0px;
}

.pre_inner {
border: dashed 1px #dadada;
font-size: 12px;
padding: 10px;
background: #FFFFE9;
color: inherit;
width: 80;
}

.transactions {
border: dashed 1px #dadada;
font-size: 12px;
padding: 10px;
background-color: #e3f1e2;
color: inherit;
}

ul {
padding-left:20px
}

#footer {
text-align: center;
}
