% include('header.tpl')

        <div id="content">
            <div id="deleted">
                <div class="output">
                        <h3>{{output['title']}} <span>{{output['subtitle']}}</span></h3>
                        <form action="/">
                            <input type="submit" value="Starte eine neue Berechnung" autofocus>
                        </form>
                </div>
            </div>

% include('footer.tpl')
